<div class="modal-header">
  <h3 class="modal-title">{{title}}Never Have I Ever</h3>
  <p> {{description}} Ellen, Johnny Depp, Gwyneth Paltrow and Paul Bettany all played an incredibly revealing round of "Never Have I Ever." You won't believe what they revealed! </p>
</div>
<div class="modal-body">
  <div class="modal-text"> Thanks for posting! </div> <br>
  <div class="modal-text"> Your submitted video is now under review by our moderators, and we'll let you know as soon as your submission lands on our front page. </div> <br>
  <div class="modal-text">  If you are a content creator or have any questions in the mean time, please send a note to curate@videohunt.io.
    Keep posting and we hope you enjoy our daily roundups! </div>
</div>
