
<div class="modal-header">
  <h3 class="modal-title">Add a new video</h3>
  <p> Add more information on the video below to better help users discover them. </p>
</div>
<div class="modal-body">
  <input type="text" placeholder="Video Title"/>
  <input type="text" placeholder="Video URL"/>
  <input type="text" placeholder="1-liner description"/>
</div>
