<div ng-app="videohunt" ng-controller="NavCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand col-md-offset-1" href="/">
        <svg width="42px" height="42px" viewBox="0 0 210 209" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
          <title>Fill 5 + Rectangle 2</title>
          <desc>Created with Sketch.</desc>
          <defs>
            <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#42F9CF" offset="0%"></stop>
              <stop stop-color="#00D3F0" offset="100%"></stop>
            </linearGradient>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="Fill-5-+-Rectangle-2" sketch:type="MSLayerGroup">
              <path d="M104.99937,0 C47.010506,0 0,46.7861598 0,104.499686 C0,162.213213 47.010506,209 104.99937,209 C162.990124,209 210,162.213213 210,104.499686 C210,46.7861598 162.990124,0 104.99937,0 L104.99937,0 Z" id="Fill-5" fill="url(#linearGradient-1)" sketch:type="MSShapeGroup"></path>
              <path d="M83,68 L83,143 L149,105.5 L83,68 Z" id="Rectangle-2" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </svg>
        <span class="brand-title hidden-xs">
          Video<strong>Hunt</strong>
        </span>

        <% if(user) { %>
          <!-- <%= user.twitter.username %> -->
          <svg class="hidden-xs navbar-right img-responsive navbar--alert" width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
            <title>Oval 54</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="News" sketch:type="MSArtboardGroup" transform="translate(-1444.000000, -161.000000)" fill="#00D3EF">
                <g id="header" sketch:type="MSLayerGroup" transform="translate(147.000000, 161.000000)">
                  <g id="notifications" transform="translate(1297.000000, 0.000000)" sketch:type="MSShapeGroup">
                    <circle id="Oval-54" cx="15" cy="15" r="15"></circle>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <img class="hidden-xs navbar-right img-responsive navbar--avatar" src="<%= user.twitter.avatarLink %>">
          <span class="hidden-xs navbar-right navbar-alert-count"> 22</span>

          <a href ng-click="openAddModal()">
            <svg class="hidden-xs navbar-right navbar--add" width="44px" height="45px" viewBox="0 0 44 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
              <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
              <title>Round Button</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Round-Button" sketch:type="MSLayerGroup" transform="translate(2.000000, -4.000000)">
                  <ellipse id="Oval-1" stroke="#979797" stroke-width="3" sketch:type="MSShapeGroup" cx="19.8909091" cy="26.6118182" rx="19.8909091" ry="20.3881818"></ellipse>
                  <text id="+" sketch:type="MSTextLayer" font-family="Proxima Nova" font-size="40" font-weight="normal" sketch:alignment="middle" fill="#979797">
                    <tspan x="10.3558927" y="40.752649">+</tspan>
                  </text>
                </g>
              </g>
            </svg>
          </a>

          <a href="/logout" class="navbar-text navbar-right hidden-xs">Log out</a>
        <% } else { %>
          <a href="/auth/twitter" class="navbar-text navbar-right hidden-xs">Log In</a>
        <% } %>
        <!-- <a href="/auth/twitter" class="navbar-text navbar-right hidden-xs">Log In</a> -->
        <!-- <a ng-show="isAuthenticated()" href class="navbar-text navbar-right hidden-xs">Log out</a> -->

        <!-- <a href ng-click="twitterLogin()" class="navbar-text navbar-right hidden-xs">Log In</a> -->

        <!-- <button ng-click="twitterLogin()" class="navbar-text navbar-right hidden-xs">Log In</button> -->

      </a>
    </div>
  </div>
</div>
