<div class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand col-md-offset-1" href="/">
        <svg width="42px" height="42px" viewBox="0 0 210 209" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
          <title>Fill 5 + Rectangle 2</title>
          <desc>Created with Sketch.</desc>
          <defs>
            <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1">
              <stop stop-color="#42F9CF" offset="0%"></stop>
              <stop stop-color="#00D3F0" offset="100%"></stop>
            </linearGradient>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="Fill-5-+-Rectangle-2" sketch:type="MSLayerGroup">
              <path d="M104.99937,0 C47.010506,0 0,46.7861598 0,104.499686 C0,162.213213 47.010506,209 104.99937,209 C162.990124,209 210,162.213213 210,104.499686 C210,46.7861598 162.990124,0 104.99937,0 L104.99937,0 Z" id="Fill-5" fill="url(#linearGradient-1)" sketch:type="MSShapeGroup"></path>
              <path d="M83,68 L83,143 L149,105.5 L83,68 Z" id="Rectangle-2" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </svg>
        <span class="brand-title hidden-xs">
          Video<strong>Hunt</strong>
        </span>

        <a href="#" class="navbar-text navbar-right hidden-xs">Log In</a>
      </a>
    </div>
  </div>
</div>
