<html>

<head>
  <title>VideoHunt</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/controllers/angularApp.js"></script>
  <script src="/controllers/auth.js"></script>
  <script src="/controllers/navbar.js"></script>
  <script src="/controllers/post.js"></script>
  <script src="/services/post.js"></script>
  <script src="/services/ui-bootstrap-tpls-0.12.0.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <link href="stylesheets/style.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include analytics.ejs %>
</head>

<body ng-app="Videohunt">

  <% include social.ejs %>
  <% include header.ejs %>

      <div class="row">
        <ui-view></ui-view>
      </div>

      <script type="text/ng-template" id="/home.html">
        <div class="container post--section">
          <div class="today">
            TODAY
          </div>

          <div ng-repeat="post in posts | orderBy: '-created_at'">
            <% include post.ejs %>
          </div>
        </div>

      </script>


</body>

</html>
