
<div class="newsletter">
  <div class=content>
        <center>
          <div class="roundupheading">What Your Personalized Roundup can look like today </div>
          <div class="underline"> </div>
          <div class="today"> Your top <span class="orange"> "Must Watch"</span> picks for {{date | dateSuffix }}</div>
        </center>

    <div class="row">
      <div class="heading col-md-offset-1 col-md-10">
            <center> Based on your interest in <strong>Startups</strong>... </center>
      </div>
    </div>
    <div class="row">

            <a href="" ng-click="gotoTop()">
              <div class="mustwatch col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-md-1">
                  <center>
                    <svg class="upvote" fill="#FF7200" height=18 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="triangle-icon" points="256,77.599 462,434.4 50,434.4 "></polygon> </svg>
                    <div class="counter orange"> <strong> 25 </strong> </div>
                  </center>
              </div>
            </a>
              <div class="col-xs-2 col-sm-2 col-md-4 col-lg-5">
                <iframe class="video" src="http://www.youtube.com/embed/yP176MBG9Tk" frameborder="0" allowfullscreen></iframe>
              </div>


    </div>
  </div>
      <div class="channelpush">
        <div class="heading col-md-offset-1 col-md-10">
          <center>
            Based on your interest in <strong>Startups</strong>... <br><span class="subscriber"> [30 Subscribers]</span>
          </center>
        </div>

        <div class="row">
          <div class="col-md-6">
            <a href="" ng-click="gotoTop()">
              <div class="mustwatch col-md-offset-2 col-md-1">
                  <center>
                    <svg class="upvote" fill="#FF7200" height=18 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="triangle-icon" points="256,77.599 462,434.4 50,434.4 "></polygon> </svg>
                    <div class="counter orange"> <strong> 25 </strong> </div>
                  </center>
              </div>
            </a>
              <div class="col-sm-3 col-md-4 col-lg-5">
                <iframe src="http://www.youtube.com/embed/yP176MBG9Tk" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>

          <div class="col-md-offset-1 col-md-4">
              <div class="publisher"><img src="/images/stanford.png" class="publisher_icon small"> By Stanford University</div>
              As part of <a href="https://twitter.com/sama" target="_blank">Sam Altman</a>'s Stanford teaching series on
              <a href="https://www.youtube.com/channel/UCxIJaCMEptJjxmmQgGFsnCg/feed" target="_blank">How to start a Startup</a>, this lecture features
              <a href="https://twitter.com/nolimits" target="_blank">Adora Cheung</a>,
              Founder of Homejoy on Building Product, Talking to Users and Growing.
          </div>


        </div>
        </div><!-- close channel -->
        <div class="channelpush">
        <div class="heading col-sm-offset-2 col-md-offset-1 col-md-8">
          Based on your interest in <strong>Video Editing</strong>...
        </div>
        <div class="subscriber col-md-3">
          5 Subscribers
        </div>
        <div class="row">
          <div class="col-md-6">
              <a href="" ng-click="gotoTop()">
              <div class="mustwatch col-md-offset-2 col-md-1">
                  <center>
                    <svg class="upvote" fill="#FF7200" height=18 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="triangle-icon" points="256,77.599 462,434.4 50,434.4 "></polygon> </svg>
                    <div class="counter orange"> <strong> 4 </strong> </div>
                  </center>
              </div>
              </a>
              <div class="col-md-4">
                <iframe src="http://player.vimeo.com/video/17853140" width="305" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <div class="publisher"><img src="/images/vimeo.png" class="publisher_icon small"> By Vimeo</div>
            From Vimeo’s very own <a href="http://vimeo.com/videoschoolvideos" target="_blank">Video School</a>, learn the basics of video editing.
          </div>
        </div>
        </div> <!-- close channel -->
        <div class="channelpush">
          <div class="heading col-md-offset-1 col-md-8">
            Based on your interest in the <strong>Knicks</strong>...
          </div>
        <div class="subscriber col-md-3">
          100 Subscribers
        </div>
        <div class="row">
        <div class="col-md-6">
              <a href="" ng-click="gotoTop()">
              <div class="mustwatch col-md-offset-2 col-md-1">
                  <center>
                    <svg class="upvote" fill="#FF7200" height=18 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <polygon id="triangle-icon" points="256,77.599 462,434.4 50,434.4 "></polygon> </svg>
                    <div class="counter orange"> <strong> 77 </strong> </div>
                  </center>
              </div>
              </a>
              <div class="col-md-4">
                <a href="http://dailyknicks.com/2014/09/04/video-new-york-knicks-top-ten-dunks-decade" target="_blank"> <img class="placeholder" src="/images/knicks.png"/> </a>
              </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <div class="publisher"><img src="/images/fansided.png" class="publisher_icon"> By The Daily Knicks</div>
            New York Knicks' <a href="http://dailyknicks.com/2014/09/04/video-new-york-knicks-top-ten-dunks-decade" target="_blank">Top Ten Dunks</a> of the Decade.
          </div>
        </div>
        </div> <!-- close channel -->
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <center>
              <a ng-click="gotoTop()"> <button class="btn-primary btn-upper-space"> Add more topics </button></a>
            </center>
          </div>
        </div>
        <div class="line"> </div>
        <div class="row">
          <div class="banner col-md-offset-2 col-md-8">
            <center>
              Want to be part of the early editorial community? <br> Email <a href="mailto:curate@videohunt.io">curate@videohunt.io</a>.
            </center>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">

  </div>
</div>
