<div class="post">
  <div class="post--upvote col-xs-offset-0 col-xs-1 col-md-offset-2 col-md-1">
    <a href ng-click="upvote(post)">
      <svg width="25px" height="18px" viewBox="0 0 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
        <title>Rectangle 8</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="item" sketch:type="MSLayerGroup" transform="translate(0.000000, -7.000000)" fill="#00D3EF">
            <path d="M11.463039,7.10416667 L0,29 L22.9260779,29 L11.463039,7.10416667 Z" id="Rectangle-8" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </svg>
    </a>
    <div class="post--upvote--count">
      {{post.upvotes}}
    </div>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
    <a href="#">
      <img class="img-responsive post--thumbnail" src="http://img.youtube.com/vi/fajfkO_X0l0/0.jpg">
    </a>
  </div>
  <div class="post--title col-xs-9 col-sm-7 col-md-5">
    <a href="#" target="_blank"> {{post.title}} </a>
    <svg class="post--creator" width="20px" height="15px" viewBox="0 0 25 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
      <title>video-camera-2-icon</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="item" sketch:type="MSLayerGroup" transform="translate(-560.000000, -7.000000)" fill="#50E3C2">
          <path d="M573.220934,10.030303 C573.593568,10.030303 573.895631,10.4075 573.895631,10.8726515 L573.895631,18.1273485 C573.895631,18.5925758 573.593507,18.969697 573.220934,18.969697 L563.101881,18.969697 C562.729308,18.969697 562.427184,18.5925 562.427184,18.1273485 L562.427184,10.8726515 C562.427184,10.4075 562.729308,10.030303 563.101881,10.030303 L573.220934,10.030303 L573.220934,10.030303 Z M585,7 L578.143204,12.1893939 L578.143204,16.8106061 L585,22 L585,7 L585,7 Z M574.022087,7 L562.300728,7 C561.030097,7 560,8.28606061 560,9.87242424 L560,19.1275758 C560,20.7139394 561.030097,22 562.300728,22 L574.022087,22 C575.292718,22 576.322816,20.7139394 576.322816,19.1275758 L576.322816,9.87242424 C576.322816,8.28606061 575.292718,7 574.022087,7 L574.022087,7 Z" id="video-camera-2-icon" sketch:type="MSShapeGroup"></path>
        </g>
      </g>
    </svg>
    <svg class="post--creator" width="20px" height="15px" viewBox="0 0 27 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <!-- Generator: Sketch 3.2.1 (9971) - http://www.bohemiancoding.com/sketch -->
      <title>youtube</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="item" sketch:type="MSLayerGroup" transform="translate(-523.000000, -5.000000)" fill="#E13D31">
          <path d="M523,14.5 C523,13.5499953 523.005022,12.8078152 523.015067,12.2734375 C523.025112,11.7390598 523.067801,11.063676 523.143136,10.2472656 C523.218471,9.43085529 523.331472,8.70104488 523.482143,8.0578125 C523.642858,7.33541305 523.989395,6.72682539 524.521763,6.23203125 C525.054132,5.73723711 525.676894,5.45026081 526.390067,5.37109375 C528.619989,5.12369668 531.989933,5 536.5,5 C541.010067,5 544.380011,5.12369668 546.609933,5.37109375 C547.323106,5.45026081 547.948379,5.73723711 548.48577,6.23203125 C549.023161,6.72682539 549.372209,7.33541305 549.532924,8.0578125 C549.67355,8.70104488 549.781529,9.43085529 549.856864,10.2472656 C549.932199,11.063676 549.974888,11.7390598 549.984933,12.2734375 C549.994978,12.8078152 550,13.5499953 550,14.5 C550,15.4500048 549.994978,16.1921848 549.984933,16.7265625 C549.974888,17.2609402 549.932199,17.936324 549.856864,18.7527344 C549.781529,19.5691447 549.668528,20.2989551 549.517857,20.9421875 C549.357142,21.6645869 549.010605,22.2731746 548.478237,22.7679687 C547.945868,23.2627629 547.323106,23.5497392 546.609933,23.6289063 C544.380011,23.8763033 541.010067,24 536.5,24 C531.989933,24 528.619989,23.8763033 526.390067,23.6289063 C525.676894,23.5497392 525.051621,23.2627629 524.51423,22.7679687 C523.976839,22.2731746 523.627791,21.6645869 523.467076,20.9421875 C523.32645,20.2989551 523.218471,19.5691447 523.143136,18.7527344 C523.067801,17.936324 523.025112,17.2609402 523.015067,16.7265625 C523.005022,16.1921848 523,15.4500048 523,14.5 Z M534.642336,18.6262626 L542.587438,14.5 L534.642336,10.3737374 L534.642336,18.6262626 Z" id="youtube" sketch:type="MSShapeGroup"></path>
        </g>
      </g>
    </svg>

    <div class="post--tagline">
      {{post.description}}
      <!-- How mindfulness practices can be used to transcend one's ego. -->
    </div>
  </div>
  <!-- <div class="hidden-xs post--tags">
    <span class="tag"> BigThink </span>
    <span class="tag"> Sam Harris </span>
  </div> -->
  <div class="hidden-xs col-sm-2 col-md-offset-1 col-md-1">
    <img class="img-responsive post--avatar" src="https://pbs.twimg.com/profile_images/518906793569705985/8jY4EYsN.png"/>
  </div>
</div>
